@charset "utf-8";
/* CSS Document */
.luntan_leftC{
	width:710px;
	float:left;
}
.luntan_rightC{
	width:310px;
	float:right;	
}

.luntan_leftlistC{
	background:#fff;
	font-size:14px;
	color:#666666;
}
.luntan_tabTit{
	height:50px;
	line-height:50px;
	border-bottom:1px solid #f1f1f1;
	padding-left:10px;	
}
.luntan_tabTit a{
	display:inline-block;
	height:48px;
	line-height:48px;
	margin-right:40px;
	padding:0 10px;
}
.luntan_tabTit a.luntan_tabcurTit{
	border-bottom:2px solid #008bd5;
	color:#008bd5;
}
.luntan_tabCon{
	padding-left:10px;
	padding-right:20px;
}
.luntan_tabCon dl{
	padding:23px 0;
	zoom:1; clear:both;
	border-bottom:1px solid #f1f1f1;
}
.luntan_tabCon dl:after{
	content:".";display:block;height:0;overflow:hidden;clear:both;
}
.luntan_tabCon dl dt{
	float:left;
	padding-left:20px;
	background:url(../images/luntan_img3.png) no-repeat left 13px;
}
.luntan_tabCon dl.luntan_tablistgrey dt{
	float:left;
	padding-left:20px;
	background:url(../images/luntan_img4.png) no-repeat left 13px;
	color:#999999;
}
.luntan_tabCon dl dt a{
	line-height:30px;
	color:#999999;
}
.luntan_tabCon dl dt p{
	font-size:12px;
}
.luntan_tabCon dl dd{
	margin-left:60px;
}
.luntan_tabCon dl dd span{
	padding-top:30px;
	display:inline-block;
	font-size:12px;
	color:#999999;
}
.luntan_tabCon dl dd.luntan_count{
	width:56px;
	height:51px;
	color:#fb3c01;
	font-size:24px;
	text-align:center;
	padding-top:5px;
	background:url(../images/luntan_img1.png) no-repeat center center;
}
.luntan_tabCon dl.luntan_tablistgrey dd.luntan_count{
	width:56px;
	height:51px;
	color:#999999;
	font-size:24px;
	text-align:center;
	padding-top:5px;
	background:url(../images/luntan_img2.png) no-repeat center center;
}
.luntan_tabCon dl dd{
	float:right;
}
.luntan_tabpage{
	text-align:center;
	margin-top:20px;
	padding-bottom:30px;
}
.luntan_tabpage a{
	display:inline-block;
	height:22px;
	line-height:22px;
	border:1px solid #cacaca;
	text-align:center;
	padding:0 8px;
	margin:0 7px;
}
.luntan_tabpage a.luntan_curpage{
	display:inline-block;
	height:22px;
	line-height:22px;
	border:1px solid #2e9af0;
	text-align:center;
	padding:0 8px;
	margin:0 7px;
	background:#008bd5;
	color:#fff;
}
.luntan_rightCwrap{
	background:#fff;
	font-size:14px;
	color:#666;
}
.luntan_rmenu{
	zoom:1; clear:both;
	padding-top:30px;
	padding-bottom:20px;
}
.luntan_rmenu:after{
	content:".";display:block;height:0;overflow:hidden;clear:both;
}
.luntan_rmenu dl{
	width:33%;
	text-align:center;
	float:left;
}
.luntan_rmenu dl dd{
	line-height:30px;
	margin-bottom:10px;
}
.luntan_rmenu dl dd a{
	color:#666;
}
.luntan_rmenu dl dd a:hover{
	color:#008bd5;
}
.luntan_gzus{
	padding:0 5px;
}
.luntan_gzus_tit{
	line-height:30px;
	font-size:16px;
	color:#333;
	border-bottom:1px solid #f1f1f1;
}
.luntan_gzus_con dl{
	zoom:1; clear:both;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}
.luntan_gzus_con dl:after{
	content:".";display:block;height:0;overflow:hidden;clear:both;
}
.luntan_gzus_con dl p{	
	font-size:12px;
}
.luntan_gzus_con dl dt{	
	float:left;
}
.luntan_gzus_con dl dd{	
	float:right;
}
.luntan_call{
	padding-left:50px;
	padding-bottom:20px;
	color:#333;
	background:url(../images/luntan_call.png) no-repeat left top;
}
.luntan_call b{
	font-size:18px;
	font-weight:100;
	height:30px;
	padding-top:10px;
	display:inline-block;
}
.luntan_call p{
	font-size:14px;
}















